<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pmo.pfc.dao.mapper.UserPermissionsMapper">

	<!--> 表字段与属性映射关系 <!-->
    <resultMap id="UserPermissionsMap" type="com.pmo.pfc.dao.entity.UserPermissionsDTO">
    				<result column="id" property="id" javaType="java.lang.Integer" />
					<result column="create_by" property="createBy" javaType="java.lang.String" />
					<result column="create_date" property="createDate" javaType="java.util.Date" />
					<result column="update_by" property="updateBy" javaType="java.lang.String" />
					<result column="update_date" property="updateDate" javaType="java.util.Date" />
					<result column="ver" property="ver" javaType="java.lang.Integer" />
					<result column="is_delete" property="isDelete" javaType="java.lang.Integer" />
					<result column="p_name" property="pName" javaType="java.lang.String" />
					<result column="p_code" property="pCode" javaType="java.lang.String" />
					<result column="parent_code" property="parentCode" javaType="java.lang.String" />
					<result column="complete_code" property="completeCode" javaType="java.lang.String" />
					<result column="request_url" property="requestUrl" javaType="java.lang.String" />
					<result column="requset_page" property="requsetPage" javaType="java.lang.String" />
					<result column="extension_one" property="extensionOne" javaType="java.lang.String" />
					<result column="extension_two" property="extensionTwo" javaType="java.lang.String" />
					<result column="extension_three" property="extensionThree" javaType="java.lang.String" />
					<result column="extension_four" property="extensionFour" javaType="java.lang.String" />
				
	</resultMap>
    
    <!--> 根据动态条件查询 <!-->
    <select id="selectByQuery" parameterType="com.pmo.pfc.dao.query.UserPermissionsQuery" resultMap="UserPermissionsMap">
            SELECT
                 <include refid="baseColumn" />
            FROM user_permissions
            <where>
                <include refid="baseCriteria" />
            </where>
    </select>
    
     <!--> 根据主键查询 <!-->
    <select id="selectByPrimary" parameterType="java.lang.Integer" resultMap="UserPermissionsMap">
            SELECT
                <include refid="baseColumn" />
            FROM user_permissions
            WHERE
                id = #{id}
    </select>

	<!--> 添加信息，不含null的字段 <!-->
    <insert id="addUserInfo" parameterType="com.pmo.pfc.dao.entity.UserPermissionsDTO" useGeneratedKeys="true" keyProperty="id">
        insert into user_permissions
            <trim prefix="(" suffix=")" suffixOverrides=",">
             	             						             		             		
				    <if test="createBy != null">
	                    create_by,
	                </if>
	                				             		             		
				    <if test="createDate != null">
	                    create_date,
	                </if>
	                				             		             		
				    <if test="updateBy != null">
	                    update_by,
	                </if>
	                				             		             		
				    <if test="updateDate != null">
	                    update_date,
	                </if>
	                				             		             		
				    <if test="ver != null">
	                    ver,
	                </if>
	                				             		             		
				    <if test="isDelete != null">
	                    is_delete,
	                </if>
	                				             		             		
				    <if test="pName != null">
	                    p_name,
	                </if>
	                				             		             		
				    <if test="pCode != null">
	                    p_code,
	                </if>
	                				             		             		
				    <if test="parentCode != null">
	                    parent_code,
	                </if>
	                				             		             		
				    <if test="completeCode != null">
	                    complete_code,
	                </if>
	                				             		             		
				    <if test="requestUrl != null">
	                    request_url,
	                </if>
	                				             		             		
				    <if test="requsetPage != null">
	                    requset_page,
	                </if>
	                				             		             		
				    <if test="extensionOne != null">
	                    extension_one,
	                </if>
	                				             		             		
				    <if test="extensionTwo != null">
	                    extension_two,
	                </if>
	                				             		             		
				    <if test="extensionThree != null">
	                    extension_three,
	                </if>
	                				             		             		
				    <if test="extensionFour != null">
	                    extension_four,
	                </if>
	                								
            </trim>
            
            <trim prefix="values (" suffix=")" suffixOverrides=",">
		        		        							        			        	
					<if test="createBy != null">
		            	#{createBy,jdbcType=VARCHAR},
		        	</if>
		        							        			        	
					<if test="createDate != null">
		            	#{createDate,jdbcType=DATE},
		        	</if>
		        							        			        	
					<if test="updateBy != null">
		            	#{updateBy,jdbcType=VARCHAR},
		        	</if>
		        							        			        	
					<if test="updateDate != null">
		            	#{updateDate,jdbcType=DATE},
		        	</if>
		        							        			        	
					<if test="ver != null">
		            	#{ver,jdbcType=INTEGER},
		        	</if>
		        							        			        	
					<if test="isDelete != null">
		            	#{isDelete,jdbcType=INTEGER},
		        	</if>
		        							        			        	
					<if test="pName != null">
		            	#{pName,jdbcType=VARCHAR},
		        	</if>
		        							        			        	
					<if test="pCode != null">
		            	#{pCode,jdbcType=VARCHAR},
		        	</if>
		        							        			        	
					<if test="parentCode != null">
		            	#{parentCode,jdbcType=VARCHAR},
		        	</if>
		        							        			        	
					<if test="completeCode != null">
		            	#{completeCode,jdbcType=VARCHAR},
		        	</if>
		        							        			        	
					<if test="requestUrl != null">
		            	#{requestUrl,jdbcType=VARCHAR},
		        	</if>
		        							        			        	
					<if test="requsetPage != null">
		            	#{requsetPage,jdbcType=VARCHAR},
		        	</if>
		        							        			        	
					<if test="extensionOne != null">
		            	#{extensionOne,jdbcType=VARCHAR},
		        	</if>
		        							        			        	
					<if test="extensionTwo != null">
		            	#{extensionTwo,jdbcType=VARCHAR},
		        	</if>
		        							        			        	
					<if test="extensionThree != null">
		            	#{extensionThree,jdbcType=VARCHAR},
		        	</if>
		        							        			        	
					<if test="extensionFour != null">
		            	#{extensionFour,jdbcType=VARCHAR},
		        	</if>
		        									
            </trim>
    </insert>
    
    <!--> 添加信息，含null的字段 <!-->
    <insert id="addUserInfoWithNull" parameterType="com.pmo.pfc.dao.entity.UserPermissionsDTO" useGeneratedKeys="true" keyProperty="id">
        insert into user_permissions(<include refid="baseInsertColumn" />)
        values(
            <include refid="baseInsertColumnValue" />
        );
    </insert>
    
    <!--> 批量添加信息，含null的字段 <!-->
    <insert id="batchInsert">
        insert into user_permissions(<include refid="baseInsertColumn" />)
        values
            <trim suffixOverrides=",">
                <foreach collection="list" item="record" separator=","  >
                     (<include refid="baseInsertColumnValue" /> )
                </foreach>
            </trim>
    </insert>
    
     <!--> 根据主键更新，不含null的字段 <!-->
    <update id="updateByPrimary" parameterType="java.util.Map" >
        update user_permissions
        set
            <include refid="baseUpdate" />
        <where>
            id = #{id}
        </where>
    </update>
    
    <!--> 根据主键更新，含null的字段 <!-->
    <update id="updateByPrimaryWithNull" parameterType="java.util.Map" >
        update user_permissions
        set
        <include refid="baseUpdateWithNull" />
        <where>
            id = #{id}
        </where>
    </update>
    
    <!--> 根据动态条件更新，不含null的字段 <!-->
    <update id="updateByQuery">
        update user_permissions
        set
        <include refid="baseUpdate" />
        <where>
            <include refid="baseCriteria" />
        </where>
    </update>
    
    <!--> 根据动态条件更新，含null的字段 <!-->
    <update id="updateByQueryWithNull">
        update user_permissions
        set
        <include refid="baseUpdateWithNull" />
        <where>
            <include refid="baseCriteria" />
        </where>
    </update>
    
    <!--> 根据主键删除 <!-->
    <delete id="deleteByPrimary">
        delete from user_permissions
        where
            id = #{id}
    </delete>
    
     <!--> 根据动态条件删除 <!-->
    <delete id="deleteByQuery">
        delete from user_permissions
        <where>
            <include refid="baseCriteria" />
        </where>
    </delete>
    
    <!--> 基础查询字段 <!-->
    <sql id="baseColumn">
        id,		create_by,		create_date,		update_by,		update_date,		ver,		is_delete,		p_name,		p_code,		parent_code,		complete_code,		request_url,		requset_page,		extension_one,		extension_two,		extension_three,		extension_four				
    </sql>
    
    <!--> 基础插入字段 <!-->
    <sql id="baseInsertColumn">
        		create_by,		create_date,		update_by,		update_date,		ver,		is_delete,		p_name,		p_code,		parent_code,		complete_code,		request_url,		requset_page,		extension_one,		extension_two,		extension_three,		extension_four				
    </sql>
    
     <!--> 基础插入字段值 <!-->
    <sql id="baseInsertColumnValue">
       <trim suffixOverrides=",">
					     					
    		<if test="record.createBy == null">
	            	null,
	         </if>
	         <if test="record.createBy != null">
	            	#{record.createBy},
	        </if>
	        	     					
    		<if test="record.createDate == null">
	            	null,
	         </if>
	         <if test="record.createDate != null">
	            	#{record.createDate},
	        </if>
	        	     					
    		<if test="record.updateBy == null">
	            	null,
	         </if>
	         <if test="record.updateBy != null">
	            	#{record.updateBy},
	        </if>
	        	     					
    		<if test="record.updateDate == null">
	            	null,
	         </if>
	         <if test="record.updateDate != null">
	            	#{record.updateDate},
	        </if>
	        	     					
    		<if test="record.ver == null">
	            	null,
	         </if>
	         <if test="record.ver != null">
	            	#{record.ver},
	        </if>
	        	     					
    		<if test="record.isDelete == null">
	            	null,
	         </if>
	         <if test="record.isDelete != null">
	            	#{record.isDelete},
	        </if>
	        	     					
    		<if test="record.pName == null">
	            	null,
	         </if>
	         <if test="record.pName != null">
	            	#{record.pName},
	        </if>
	        	     					
    		<if test="record.pCode == null">
	            	null,
	         </if>
	         <if test="record.pCode != null">
	            	#{record.pCode},
	        </if>
	        	     					
    		<if test="record.parentCode == null">
	            	null,
	         </if>
	         <if test="record.parentCode != null">
	            	#{record.parentCode},
	        </if>
	        	     					
    		<if test="record.completeCode == null">
	            	null,
	         </if>
	         <if test="record.completeCode != null">
	            	#{record.completeCode},
	        </if>
	        	     					
    		<if test="record.requestUrl == null">
	            	null,
	         </if>
	         <if test="record.requestUrl != null">
	            	#{record.requestUrl},
	        </if>
	        	     					
    		<if test="record.requsetPage == null">
	            	null,
	         </if>
	         <if test="record.requsetPage != null">
	            	#{record.requsetPage},
	        </if>
	        	     					
    		<if test="record.extensionOne == null">
	            	null,
	         </if>
	         <if test="record.extensionOne != null">
	            	#{record.extensionOne},
	        </if>
	        	     					
    		<if test="record.extensionTwo == null">
	            	null,
	         </if>
	         <if test="record.extensionTwo != null">
	            	#{record.extensionTwo},
	        </if>
	        	     					
    		<if test="record.extensionThree == null">
	            	null,
	         </if>
	         <if test="record.extensionThree != null">
	            	#{record.extensionThree},
	        </if>
	        	     					
    		<if test="record.extensionFour == null">
	            	null,
	         </if>
	         <if test="record.extensionFour != null">
	            	#{record.extensionFour},
	        </if>
	        	     	     
	    </trim>
    </sql>
    
     <!--> 基础条件 <!-->
    <sql id="baseCriteria">
        <if test="data != null">
            <foreach collection="data.values" item="item">
                <choose>
                    <when test="item.isColumn">
                        <if test="item.isNormal">
                            ${item.columnName} ${item.expression} #{item.value}
                        </if>
                        <if test="item.isLike">
                            ${item.expression} ( #{item.value} , ${item.columnName} )   &gt; 0
                        </if>
                        <if test="item.isNotLike">
                            ${item.expression} ( #{item.value} , ${item.columnName} )    &lt;= 0
                        </if>
                        <if test="item.isIn">
                            ${item.columnName} ${item.expression}
                            <foreach collection="item.value" item="each" open="(" close=")" separator="," >
                                #{each}
                            </foreach>
                        </if>
                    </when>
                    <otherwise>
                        ${item.expression}
                    </otherwise>
                </choose>
            </foreach>
        </if>
    </sql>
    
    <!--> 基础更新字段，含null的不更新 <!-->
    <sql id="baseUpdate">
        <trim suffixOverrides="," >
            update_date = now(),
                            
			<if test="record.createBy != null">
			    	create_by = #{record.createBy},
			</if>
                                    
			<if test="record.createDate != null">
			    	create_date = #{record.createDate},
			</if>
                                    
			<if test="record.updateBy != null">
			    	update_by = #{record.updateBy},
			</if>
                                                            
			<if test="record.ver != null">
			    	ver = #{record.ver},
			</if>
                                    
			<if test="record.isDelete != null">
			    	is_delete = #{record.isDelete},
			</if>
                                    
			<if test="record.pName != null">
			    	p_name = #{record.pName},
			</if>
                                    
			<if test="record.pCode != null">
			    	p_code = #{record.pCode},
			</if>
                                    
			<if test="record.parentCode != null">
			    	parent_code = #{record.parentCode},
			</if>
                                    
			<if test="record.completeCode != null">
			    	complete_code = #{record.completeCode},
			</if>
                                    
			<if test="record.requestUrl != null">
			    	request_url = #{record.requestUrl},
			</if>
                                    
			<if test="record.requsetPage != null">
			    	requset_page = #{record.requsetPage},
			</if>
                                    
			<if test="record.extensionOne != null">
			    	extension_one = #{record.extensionOne},
			</if>
                                    
			<if test="record.extensionTwo != null">
			    	extension_two = #{record.extensionTwo},
			</if>
                                    
			<if test="record.extensionThree != null">
			    	extension_three = #{record.extensionThree},
			</if>
                                    
			<if test="record.extensionFour != null">
			    	extension_four = #{record.extensionFour},
			</if>
                                
        </trim>
    </sql>
    
    <!--> 基础更新全部字段 <!-->
    <sql id="baseUpdateWithNull">
        <trim suffixOverrides="," >
            update_date = now(),
                                               	
        	<choose>
                <when test="record.createBy != null">create_by = #{record.createBy},</when>
                <otherwise>create_by = null,</otherwise>
            </choose>
                                                   	
        	<choose>
                <when test="record.createDate != null">create_date = #{record.createDate},</when>
                <otherwise>create_date = null,</otherwise>
            </choose>
                                                   	
        	<choose>
                <when test="record.updateBy != null">update_by = #{record.updateBy},</when>
                <otherwise>update_by = null,</otherwise>
            </choose>
                                                                                    	
        	<choose>
                <when test="record.ver != null">ver = #{record.ver},</when>
                <otherwise>ver = null,</otherwise>
            </choose>
                                                   	
        	<choose>
                <when test="record.isDelete != null">is_delete = #{record.isDelete},</when>
                <otherwise>is_delete = null,</otherwise>
            </choose>
                                                   	
        	<choose>
                <when test="record.pName != null">p_name = #{record.pName},</when>
                <otherwise>p_name = null,</otherwise>
            </choose>
                                                   	
        	<choose>
                <when test="record.pCode != null">p_code = #{record.pCode},</when>
                <otherwise>p_code = null,</otherwise>
            </choose>
                                                   	
        	<choose>
                <when test="record.parentCode != null">parent_code = #{record.parentCode},</when>
                <otherwise>parent_code = null,</otherwise>
            </choose>
                                                   	
        	<choose>
                <when test="record.completeCode != null">complete_code = #{record.completeCode},</when>
                <otherwise>complete_code = null,</otherwise>
            </choose>
                                                   	
        	<choose>
                <when test="record.requestUrl != null">request_url = #{record.requestUrl},</when>
                <otherwise>request_url = null,</otherwise>
            </choose>
                                                   	
        	<choose>
                <when test="record.requsetPage != null">requset_page = #{record.requsetPage},</when>
                <otherwise>requset_page = null,</otherwise>
            </choose>
                                                   	
        	<choose>
                <when test="record.extensionOne != null">extension_one = #{record.extensionOne},</when>
                <otherwise>extension_one = null,</otherwise>
            </choose>
                                                   	
        	<choose>
                <when test="record.extensionTwo != null">extension_two = #{record.extensionTwo},</when>
                <otherwise>extension_two = null,</otherwise>
            </choose>
                                                   	
        	<choose>
                <when test="record.extensionThree != null">extension_three = #{record.extensionThree},</when>
                <otherwise>extension_three = null,</otherwise>
            </choose>
                                                   	
        	<choose>
                <when test="record.extensionFour != null">extension_four = #{record.extensionFour},</when>
                <otherwise>extension_four = null,</otherwise>
            </choose>
                                   
        </trim>
    </sql>
    
</mapper>